* {
    margin: 0;
    padding: 0;

}

body {
    background-color: aquamarine;
    height: 100vh;
    
}

.holder{
    display: flex;
    justify-content: center;
    /* height: 100vh; */
}

.container {
    /* background-color: rgb(241, 153, 11); */
    background: rgb(212, 97, 18);
    background: linear-gradient(90deg, rgba(212, 97, 18, 1) 0%, rgba(191, 19, 204, 1) 35%, rgba(203, 235, 19, 1) 100%);
    margin: 15vh 0px 0px 0px;
    height: fit-content;
    width: 450px;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
}

li {
    list-style: none;
    font-size: 25px;
}

li:hover {
    scale: 1.5;
}

a {
    text-decoration: none;
}

img {
    height: 125px;
    border-radius: 100%;
    /* padding-bottom: 10px; */
    box-shadow: -5px 0px 20px white;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    box-shadow: 1px 1px 5px;
    margin: 10px 0px;
    background-color: whitesmoke;

}

h3 {
    padding: 15px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h6 {
    font-size: 25px;
    padding: 10px;
    /* font-weight: bold; */
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skillValue {
    width: 0%;
    height: 20px;
    background-color: lightslategrey;
    border: 1px solid black;
    margin: 5px 0px;
    font-weight: bold;
    animation: html 2s linear 1s forwards;
    animation: css 2s linear 1s forwards;
    position: static;
    left: 50%;
}


.css {
    width: 0%;
    height: 20px;
    background-color: lightslategrey;
    border: 1px solid black;
    margin: 5px 0px;
    font-weight: bold;
    animation: css 2s linear 1s forwards;
    position: static;
    left: 50%;
}



.js {
    width: 0%;
    height: 20px;
    background-color: lightslategrey;
    border: 1px solid black;
    margin: 5px 0px;
    font-weight: bold;
    animation: js 2s linear 1s forwards;
    position: static;
    left: 50%;
}


.toggleContainer{
    height: 25px;
   width: 50px;
   border-radius: 15px;
   border: 1px solid white;
   background-color: gray;
position: relative;
left: 60vw;
top: 10vh;
}

#toggle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
    position: relative;
}

.toggle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    left: 25px; 
    background-color: black !important ;
}


.upperContainer {
    display: block;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    min-height: 100px;
}


@keyframes html {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes css {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }
}

@keyframes js {
    from {
        width: 0%;
    }

    to {
        width: 90%;
    }
}

.btnHolder{
    margin: 30px 0px 0px  50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
    /* margin-left: 5px; */
}

#create{
    background-color: #fff;
    height: 50px;
    width: 200px;
    border-radius: 25px;
}

.form{
    background-color: white;
    border-radius: 25px;
    height: fit-content;
    width: 500px; 
    padding: 20px;
}

.form_inner{
    margin: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.pop-up{
    position: absolute;
    top: 25%;
    left: 32%;
    visibility: hidden;
    
}

.popup-show{
    position: absolute;
    top: 25%;
    left: 32%;
    visibility: visible;
    /* opacity: 1px; */
}

#form-exit{
    position: absolute;
    right:25px;
    top: 5px;
    color: white;
    background-color: red;
    height: 20px;
    width: 20px;
}

.blur{
    filter: blur(10px);
}

#submit{
    background-color: skyblue;
    margin: 25px;
    height: 50px;
    width: 125px;
    border-radius: 25px;
    position: relative;
    left: 30%;
}

.label1{
    margin: 44px;
}
